<section {% if section_id %} id="{{ section_id }}" {% endif %} class="slider-section">
    <div class="container">
        <div class="plant-slider-container swiper-container">
            <div class="swiper-wrapper">
                {% for row in images %}
                    <div class="swiper-slide">
                        <img
                            class="lazyload"
                            src="{{ placeholderImage(1820, 730) }}"
                            data-src="{{ row.image.src|resizeDynamic(1820, 730) }}"
                            alt="{{ row.image.alt|e }}"
                        >
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="plant-slider-buttons">
            <div class="plant-slider-prev plant-slider-btn"><img src="{{ buttons.prev }}" alt="prev"></div>
            <div class="plant-slider-next plant-slider-btn"><img src="{{ buttons.next }}" alt="next"></div>
            <div class="plant-slider-pagination"></div>
        </div>
    </div>
</section>