<section {% if section_id %} id="{{ section_id }}" {% endif %} class="block-text-image-section">
    <div class="container">
        <div class="block-text-image-row">
            <div class="content-col">
                <div class="content-col-inner">
                    {{ content|e('wp_kses_post') }}
                    <div class="link-row">
                        <a class="btn btn-default" href="{{ link_url }}">{{ link_title }}</a>
                    </div>
                </div>
            </div>
            <div class="image-col">
                <div class="image-col-inner" style="background-image: url('{{ image.src|resizeDynamic(1000) }}')"></div>
            </div>
        </div>
    </div>
</section>