<header>
  <div class="container">
    <div class="header-row">
      <div class="header-logo">
        <a href="{{ site.link }}"><img src="{{ logo.src }}" alt="{{ logo.alt }}"></a>
      </div>
      <nav class="header-nav">
        <ul>
          {% for item in menu.items %}
            <li class="{{ item.classes | join(' ') }}">
              <a href="{{ item.link }}" data-section-id="{{ item.link }}">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
