<footer>
    <div class="container">
        <div class="footer-inner">
            <div class="footer-row">
                <div class="footer-logo">
                    <a href="{{ site.link }}"><img src="{{ logo.src }}" alt="{{ logo.alt }}"></a>
                </div>
                <nav class="footer-nav">
                    <ul>
                        {% for item in menu.items %}
                            <li class="{{ item.classes | join(' ') }}">
                                <a href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
            <div class="footer-social-row">
                {% for social in socials %}
                    {% if social.link %}
                        <div class="footer-social-item">
                            <a href="{{ social.link }}"><img src="{{ social.src }}" alt="{{ social.alt }}"></a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</footer>